.traitNeedHelp {
  opacity: 0.7;
  width: 70%;
  border-top: 2px solid;
  margin: auto;
  margin-top: -4.5em;
  color: rgb(158, 70, 70);
}

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

/* Trailer CSS Here >> */

.boxTrailer {
  display: flex;
  margin: 10px;
  padding: 10px;
}

.boxButton {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.buttonAndTrailer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mooviebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerBoxTrailer {
  display: flex;
  justify-content: center;
}

/* Fin CSS Trailer */

.ContainerBodyNeedHelp {
  display: block;
  justify-content: center;
}
.containerRenderMoovieSyno {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin: 10px;
  padding: 10px;
}

.containerTitleSyno {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-count: 1;
  margin: 10px;
  padding: 10px;
  width: 60%;
  height: auto;
  font-family: 'Oleo Script', solid;
  justify-content: center;
}

.SynopsisCardMoovie {
  text-shadow: 0 0 5px rgb(158, 70, 70), 0 0 10px rgb(158, 70, 70), 0 0 20px rgb(158, 70, 70), 0 0 40px rgb(158, 70, 70) 5,
    0 0 80px rgb(158, 70, 70) 5, 0 0 90px rgb(158, 70, 70), 0 0 100px rgb(158, 70, 70), 0 0 150px rgb(158, 70, 70);
  font-size: 30px;
  letter-spacing: 5px;
}

.buttonRollingBox {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.buttonRollingMoovie {
  display: flex;
  border: rgb(158, 70, 70) 2px solid;
  color: white;
  background-color: inherit;
  border-radius: 5%;
  width: 200px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  box-shadow: 1px 1px 10px 2px rgb(158, 70, 70);
}
.buttonrrolling {
  border: rgb(158, 70, 70) 2px solid;
  color: white;
  background-color: inherit;
  width: 200px;
  height: 40px;
  font-size: x-large;
  box-shadow: 1px 1px 10px 2px rgb(158, 70, 70);
}

.mooviebox {
  display: flex;
  text-align: center;
}
.titleMoovieCard {
  display: block;
  padding: 10px;
  margin: 20px;
  border-radius: 5%;
  color: white;
  font-size: 35px;
  letter-spacing: 5px;
}

.imgBox {
  margin: 20px;
}

.imgMoovieCard {
  display: block;
  text-align: center;
  margin: 20px;
  border: 2px solid rgb(158, 70, 70);
  box-shadow: 1px 1px 10px 5px rgb(158, 70, 70);
}
.textMoovieCard {
  display: block;
  padding: 10px;
  margin: 20px;
  border-radius: 2%;
  font-size: 25px;
  color: white;
}

.moovieDate {
  display: block;
  width: 35%;
  margin: 20px;
  border-radius: 5%;
  letter-spacing: 5px;
  color: white;
  font-size: 25px;
}

/* Animation Need Help Here >> */

.titleOneNeedHelp {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

h1 {
  position: relative;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: calc(3px + 3vw);
  font-weight: 700;
  color: rgb(158, 70, 70);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em black;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 4s linear forwards;
  display: flex;
  justify-content: center;
}

h1 span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
  clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

h1::before,
h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

h1::before {
  animation: crack1 2.5s linear forwards;
  -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

h1::after {
  animation: crack2 2.5s linear forwards;
  -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
  clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
  5%,
  15%,
  25%,
  35%,
  55%,
  65%,
  75%,
  95% {
    filter: blur(0.018em);
    transform: translateY(0.018em) rotate(0deg);
  }

  10%,
  30%,
  40%,
  50%,
  70%,
  80%,
  90% {
    filter: blur(0.01em);
    transform: translateY(-0.018em) rotate(0deg);
  }

  20%,
  60% {
    filter: blur(0.03em);
    transform: translate(-0.018em, 0.018em) rotate(0deg);
  }

  45%,
  85% {
    filter: blur(0.03em);
    transform: translate(0.018em, -0.018em) rotate(0deg);
  }

  100% {
    filter: blur(0.007em);
    transform: translate(0) rotate(-0.5deg);
  }
}

@keyframes crack1 {
  0%,
  95% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-51%, -48%);
  }
}

@keyframes crack2 {
  0%,
  95% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-49%, -53%);
  }
}

@media (min-width: 720px) and (max-width: 1270px) {

  .TrailerResp {
    display: flex;
    height: auto;
    width: 680px;
  }


  .containerRenderMoovieSyno {
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 2px;
    padding: 2px;
  }

  .containerTitleSyno {
    display: flex;
    align-items: center;
    flex-direction: column;
    column-count: 1;
    width: 100%;
    height: auto;
    font-family: 'Oleo Script', solid;
  }

  .textMoovieCard {
    display: flex;
    padding: 20px;
    margin: 1px;
    border-radius: 2%;
    font-size: 25px;
    color: white;
  }

  .titleMoovieCard {
    display: block;
    width: 50%;
    padding: 5px;
    border-radius: 5%;
    color: white;
    font-size: 35px;
    letter-spacing: 3px;
  }
}

@media (min-width: 250px) and (max-width: 720px) {
  .TrailerResp {
    display: flex;
    width: 300px;
    height: auto;
  }

  .imgMoovieCard {
    width: 350px;
    height: 550px;
  }

  .containerRenderMoovieSyno {
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 2px;
    padding: 2px;
  }

  .containerTitleSyno {
    display: flex;
    align-items: center;
    flex-direction: column;
    column-count: 1;
    width: 100%;
    height: auto;
    font-family: 'Oleo Script', solid;
  }

  .textMoovieCard {
    display: flex;
    padding: 20px;
    margin: 1px;
    border-radius: 2%;
    font-size: 25px;
    color: white;
  }

  .titleMoovieCard {
    display: block;
    width: 50%;
    padding: 5px;
    border-radius: 5%;
    color: white;
    font-size: 35px;
    letter-spacing: 3px;
  }
}
